extends layout.pug
block content
  .wrapper
    h1 ログイン
    form.form-horizontal(action="/" method="post")
      .form-group
        label.col-sm-2.control-label E-mail
        .col-sm-10
          input.form-control(type="email" name="email" placeholder="E-mail" style="width:auto;")
      .form-group
        label.col-sm-2.control-label password
        .col-sm-10
          input.form-control(type="password" name="password" placeholder="password" style="width:auto;")
      .form-group
        .col-sm-10.col-sm-offset-2
          input.btn.btn-default(type="submit" value="Log in" style="background:#55b7fd;color:white;border:none;")
    if !userId
      p #{noUser} fdfd
    a(href="/register") 新規会員登録はこちら
