html
  head
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title= title
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
  body
    nav.navbar.navbar-static-top.navbar-default
      div.container
        div.navbar-header
          a.navbar-brand(href="/") Mini App
        div
          ul.nav.navbar-nav
            li(class=activeMainMenu.about)
              a(href="/about") About Us
            li(class=activeMainMenu.contact)
              a(href="/contact") Contact Us
            li(class=activeMainMenu.product)
              a(href="/product") Product

    div.container
      div(style="margin:10px auto;")
        block content
        fdfdsfsdfsdf
