extends layout.pug
block content
  h1 新規会員登録
  form.form-horizontal(action="/register" method="post")
    .form-group
      label.col-sm-2.control-label User name
      .col-sm-10
        input.form-control(type="text" name="user_name" placeholder="User name" style="width:auto;")
    .form-group
      label.col-sm-2.control-label E-mail
      .col-sm-10
        input.form-control(type="email" name="email" placeholder="E-mail" style="width:auto;")
    .form-group
      label.col-sm-2.control-label password
      .col-sm-10
        input.form-control(type="password" name="password" placeholder="Password" style="width:auto;")
    .form-group
      .col-sm-10.col-sm-offset-2
        input.btn.btn-default(type="submit" value="新規会員登録" style="background:orange;color: white;border:none;")
  if emailExists
    p.error エラー
  a(href="/" class="btn") トップへもどる
